:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

main {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 640px) {
  :host {
    flex-direction: column;
  }

  main {
    justify-content: flex-start;
  }
}
