.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.login-buttons :not(:last-of-type) {
  margin-right: 1em;
}

.user-profile {
    --profile-picture-overflow: 10px;
    --profile-picture-size: 90px;
    --profile-padding: 0.5em;
    display: grid;
    grid-template: repeat(2, 1fr) / auto auto 1fr;
    box-sizing: border-box;
    padding: var(--profile-padding);
}

.user-profile img {
    width: var(--profile-picture-size);
    border-radius: 50%;
    grid-row: 1 / 3;
    margin: 0;
}

.user-profile button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    justify-self: flex-end;
}

.user-profile p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    justify-self: flex-end;
}

@media (min-width: 640px) {
    .user-profile {
        grid-template: repeat(2, 1fr) / repeat(2, auto);
        position: absolute;
        right: 0;
        top: 1em;
        height: calc(var(--profile-picture-size) - 2 * var(--profile-picture-overflow));
        background: #fff3;
        border-width: 1px 0 1px 1px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-style: solid;
        border-color: #0006;
    }

    .user-profile img {
        position: relative;
        left: calc(-1 * var(--profile-picture-overflow) - var(--profile-padding));
        top: calc(-1 * var(--profile-picture-overflow) - var(--profile-padding));
    }
}

.btn-social {
  color: #fff;
}

.btn-social:hover {
  color: #fff;
  box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

.btn-social > i {
  margin-right: 1em;
}

.btn-twitter {
  background-color: #55acee;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-github {
  background-color: #333333;
}

.btn-google {
  background-color: #dd4b39;
}
